body {
    color: white;
}

#background{
    
    position: fixed;
    background-size: cover;
    z-index: -1;
    /* opacity: 0.8; */
    filter: brightness(60%);
}

#greeting {
    margin-top: 1%;
    text-shadow: 0 5px 0 black;
}

#tripsHeadline {
    text-shadow: 0 5px 0 black;
    margin-bottom: 20px;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 13px;
    margin-right: -5px;
    width: 90%;
    min-width: 50px;
    border: solid;
    border-width: thin;
    text-align: left;
    outline: none;
    font-size: 20px;
    transition: 0.4s;
    font-weight: bolder;
}
  
.active, .accordion:hover{
    background-color: #ccc;
}

#editTrip{
    width: 5%;
    min-width: 50px;
    margin-right: -6px;
    margin-bottom: 8px;
    height: 58px;
    vertical-align: middle;
    background-color:greenyellow;
    font-weight: bold;
}

#deleteTrip{
    height: 58px;
    width: 5%;
    min-width: 50px;
    margin-bottom: 8px;
    vertical-align: middle;
    background-color:tomato;
    overflow: hidden;
}

#deleteImage {
    max-width: 100%;
    vertical-align: middle;
    max-height: 100%;
}

button:hover {
    background-color: #ccc;
}
  
.panel {
    padding: 0 18px;
    background-color: lightgray;
    width: 90%;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    font-size: 18px;
    font-weight: 600;
    color: black;
}

  a {
    font: 20px Arial;
}


#mainHeadline {
    font: 26px Arial;
}

ol {
    float: left;
    padding-left: 0;
}

li {
    display: inline;
    padding-right: 15px;
  }